* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(123, 123, 123, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
p,
h3,
h2,
div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}